<h2>All Users</h2>

<% if (users.length === 0) { %>
    <p>No users yet</p>
<% } %>

<ul>
    <% users.forEach(user => { %>
        <li>
            <strong><%= user.name %></strong><br>
            <img src="<%= user.image %>" width="120" /><br>

            <a href="/delete/<%= user.id %>">Delete</a>
        </li>
        <hr>
    <% }) %>
</ul>
